@import 'tailwindcss';

body {
    @apply bg-zinc-950 text-white;
}

h1 {
    @apply text-2xl font-bold;
}

h2 {
    @apply font-semibold;
}

h3 {
    @apply text-base font-medium;
}

p,
li {
    @apply text-sm text-zinc-300;
}

ul {
    @apply space-y-4;
}